*{
  box-sizing:border-box;
}
.body{

  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background:  url("../img/ut.jpeg") center center no-repeat  fixed;
  background-size: cover;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.container{
  display: flex;
  width: auto;
  height: auto;
}

.menu-button{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line{
  display: block;
  width: 20px;
  height: 3px;
  background: #1F2022;
  border-radius: 20px;
}


.logo{
  margin-right: 59px;
}

.input-grupp{
  background: #EBEBEB;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  min-width: 830px;
  width: 50%;
}

.input-search{
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button-search{
  width: 19px;
  height: 19px;
  border: none;
  border-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icons{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-search{
  fill: black;
}

.icons-link{
  opacity: 0.24;
  text-decoration: none;
}

.icons-link:hover{
  opacity: 0.7;
}
.icons-link:not(:last-child){
  margin-right: 50px;
}

.user{
  margin-left: 45px;
}

.user-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar{
  padding-left: 32px;
}

.naw-bar{
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.naw-item{
  margin-bottom: 28px;


}

.naw-link{
  display: flex;
  align-items: center;
  color: #898989;
  fill: #898989;
  text-decoration: none;
}

.naw-link:hover{
  color: #ff0000;
}

.naw-link:hover .icon {
  fill: #ff0000;  
}

.naw-item .icon {
  fill: #898989;
}

.naw-text{
  margin-left: 13px;
}

.naw-image{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 20px;
}

.naw-title{

  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.ut{


}